body {
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
    font-family: Roboto-Regular;
}

.logo{
    text-align: center;
    /* background-color: palegreen; */
    height: 70px;
    position: relative;
}

.logo img {
    margin-top: -13px;
}

.hamburger {
    position: absolute;
    /* background-color: white; */
    width: 20px;
    top: 25px;
    left: 25px;
}

.hamburger div {
    height: 2px;
    width: 20px;
    background-color: rgb(107, 101, 101);
    margin-bottom: 4px;
}

.hamburger:hover {
    cursor: pointer;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Fonts/Roboto-Regular.ttf")
}


.dealer a{
    float: right;
    position: absolute;
    top: 22px;
    right: 50px;
    color: rgb(107, 101, 101);
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 15px;
}

@media (max-width: 600px){
    .logo{
        text-align: center;
        /* background-color: palegreen; */
        height: 70px;
        position: relative;
        margin-right: 50px;
        margin-left: 10px;
    }
}



#main {
    width: 100%;
    position: relative;
}

.chiron {
    position: relative;
    background-image: url("Images/Chiron.webp");
    width: 100%;
    padding-top: 42%;
    background-size: cover;
    background-position: center;
}

.chironText {
    width: 400px;
    margin-bottom: 80px;
    position: absolute;
    top: 30px;
    font-size: 30px;
    font-family: Roboto-Regular;
}

.chiron h1 {
    font-size: 39px;
    margin-left: 60px;
    margin-bottom: 40px;
    font-size: 60px;
    
}


.chiron p {
    color: white;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
}

.chiron .box {
    border: 1px solid white;
    padding: 15px 5px;
    text-align: center;
    width: 250px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
}

.box:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



@media (max-width: 1100px){
    .chiron {
        position: relative;
        background-image: url("Images/Chiron.webp");
        width: 100%;
        padding-top: 32%;
        background-size: cover;
        background-position: center;
        padding-bottom: 200px;
    }
    
}


@media (max-width: 800px) {
    .chiron {
        position: relative;
        background-image: url("Images/Chiron.webp");
        width: 100%;
        padding-top: 32%;
        background-size: cover;
        background-position: center;
        padding-bottom: 300px;
    }
    
}



@media (max-width:640px){
    
    #main {
        width: 100%;
    }

    .chiron{
        background-image: url("Images/chironw2.webp");
        background-position: center;
        width: 100%;
        background-size: cover;
        padding-bottom: 440px;
    }

    .chiron h1 {
        font-size: 39px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    .chiron p {
        color: white;
        font-family: Roboto-Regular;
        margin-left: 40px;
        font-size: 15px;
    }

}



.models {
    top: 60px;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item-a item-b item-b"
    "item-c item-b item-b";
    grid-gap: 10px;
    position: relative;
}

.models div:hover {
    cursor: pointer;
}

.models h1 {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 50px;
    font-family: Roboto-Regular;
    
}



@media (max-width: 750px) {
    .models {
        top: 60px;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "item-a item-c"
        "item-b item-b";
        grid-gap: 5px;
        position: relative;
    }

    .models .item-c{
        position: absolute;
        top: 7px;
        left: 5px;
    }

    .models img{
        margin-top: 20px;
    }

    .models h1 {
        font-size: 30px;
        position: absolute;
        left: 25px;
    }
}




.universe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item-a item-b item-c";
    grid-gap: 5px;
    padding: 80px;
    position: relative;
    margin-top: 100px;
}

.universe img:hover {
    cursor: pointer;
}


.universe h1 {
    position: absolute;
    left: 75px;
    font-family: Roboto-Regular;
    font-size: 50px;
    top: -40px;
    text-transform: uppercase;
}


@media (max-width: 750px) {

    .universe {
        display: flex;
        flex-direction: column;
        padding: 25px;
        position: relative;
    }

    .universe img {
        margin-top: 20px;
    }

    .universe h1 {
    position: absolute;
    left: 25px;
    font-size: 30px;
    }
}



.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px;
    margin-top: 70px;
    position: relative;
    flex-wrap: wrap;
}


@media (max-width: 1200px) {
    .news{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        position: relative;
    }

    .news img {
        width: 100%;
        text-align:center;
        margin-top: 60px;
    }

    .news h1 {
        margin-left: -40px;
    }

}

.news img:hover {
    cursor: pointer;
}


.news h1 {
    position: absolute;
    top: -60px;
    left: 75px;
    font-size: 50px;
    font-family: Roboto-Regular;
}

.news p {

    margin-left: 40px;
    font-family: Roboto-Regular;
    line-height: 28px;
    font-size: 15px;
    color: rgb(107, 101, 101);
    margin-top: 5px;
}

.pressRelease a {
    color: rgb(107, 101, 101);
    text-decoration: none;
    margin-bottom: 20px;
    font-style: italic;
}

.pressRelease a:hover {
    transition: 4s;
    border-bottom: 1px solid black;
}



.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 80px;

}

.info p {
    font-family: Roboto-Regular;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(107, 101, 101);
}

.info span {
    font-family: Roboto-Regular;
    text-transform: uppercase;
    font-size: 17px;
    color: rgb(20, 19, 19);
    font-weight: bolder;

}

.info a {
    text-decoration: none;
    color: rgb(107, 101, 101);
    font-family: Roboto-Regular;
    padding: 3px;
    font-style: italic;
    font-size: 17px;
}

.info a:hover{
    border-bottom: 1px solid rgb(107, 101, 101);
}


@media (max-width: 1200px){

    .info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .example1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .example1 p {
        margin-top: 100px;
        margin-left: 40px;
    }

    .example2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .example2 p {
        margin-top: 100px;
        margin-left: 40px;
    }

    .example3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .example3 p {
        margin-top: 100px;
        margin-left: 40px;
    }


}



@media (max-width: 800px){
    .info {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .example1 {
        display: block;
    }

    .example1 p {
        margin-top: 40px;
        margin-left: 0px;
    }

    .example2 {
        display: block;
    }
    .example2 p {
        margin-top: 40px;
        margin-left: 0px;
    }

    .example3 {
        display: block;
    }

    .example3 p {
        margin-top: 40px;
    }

    .info p {
        margin-left: 40px;
        margin-bottom: 60px;
    }
}



.allNews {
    text-decoration: none;
    color: rgb(107, 101, 101);
    text-align: center;
    font-size: 18px;

}

