body {
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
}

.logo{
    text-align: center;
    /* background-color: palegreen; */
    height: 70px;
    position: relative;
}

.logo img {
    margin-top: -13px;
}

.hamburger {
    position: absolute;
    /* background-color: white; */
    width: 20px;
    top: 25px;
    left: 25px;
}

.hamburger div {
    height: 2px;
    width: 20px;
    background-color: rgb(107, 101, 101);
    margin-bottom: 4px;
}

.hamburger:hover {
    cursor: pointer;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("Fonts/Roboto-Regular.ttf")
}


.dealer a{
    float: right;
    position: absolute;
    top: 22px;
    right: 50px;
    color: rgb(107, 101, 101);
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 15px;
}


.chiron {
    position: relative;
}


.text {
    position: absolute;
    top: 0px;
    color: white;
    left: 70px;
    font-weight: 700;
    font-family: Helvetica;
}

.text .box {
    border: 1px solid white;
    padding: 15px 5px;
    text-align: center;
    width: 250px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 30px;
}

.box:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


.models {
    top: 60px;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item-a item-b item-b"
    "item-c item-b item-b";
    grid-gap: 10px;
    position: relative;
}

.models h1 {
    position: absolute;
    top: -30px;
    left: 75px;
    font-size: 50px;
    font-family: Roboto-Regular;
    
}


.universe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item-a item-b item-c";
    grid-gap: 10px;
    padding: 80px;
    position: relative;
    top: 100px;
}

.universe img:hover {
    cursor: pointer;
}


.universe h1 {
    position: absolute;
    left: 75px;
    font-family: Roboto-Regular;
    font-size: 50px;
    top: -40px;
    text-transform: uppercase;
}